---
import BaseLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import {
	filterByLanguage,
	getAllPosts,
	sortMDByDate,
	sortMDByPinned,
} from "@/utils";
import type { CollectionEntry } from "astro:content";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts);
const allPostsByPinned = sortMDByPinned(allPostsByDate);
const filteredPostsByLanguage = filterByLanguage(allPostsByPinned, "ru").slice(0, MAX_POSTS);

const tech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "Site framework.",
		href: "https://astro.build",
	},
	{
		title: "Tailwind CSS",
		desc: "Website design and style.",
		href: "https://tailwindcss.com",
	},
];
---

<BaseLayout title="Домашняя">
	<section>
		<h1 class="title">Hello, world.</h1>
		<p class="mb-4 sm:mb-8">
			Hi, this is GuideMaster. A tool that will teach you the working subtleties and complex moments
			<br/>
			Use the top menu or the list of posts below to view posts
			<br/><br/>
			If you have an idea for a post - you can always write one in <a href="https://t.me/+jH1mblw0ytcwOWUy" target="_blank">telegram channel (clickable)</a> or in <a href="https://t.me/roman_domru" target="_blank">dm (clickable)</a>
		</p>
	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">Посты</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				filteredPostsByLanguage.map((p) => (
					<PostPreview post={p as CollectionEntry<"blog">} />
				))
			}
		</ul>
	</section>

	<section class="mt-16">
		<h2 class="title">Tool technologies</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				tech.map(({ href, title, desc }) => (
					<li>
						<a
							href={href}
							target="_blank"
							rel="noopener noreferrer"
							class="cody-link inline-block"
						>
							{title}
						</a>
						: <p class="inline-block sm:mt-2">{desc}</p>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>

